<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h4>Inicia sesíon como usuario</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="formularioLogin" (ngSubmit)="nuevoLogin()">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com"
                      formControlName="email">
                    <label for="email">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="contrasenha" placeholder="Password"
                      formControlName="contrasenha">
                    <label for="contrasenha">Contraseña</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Loggeate</button>
                  <span>¿Aún no estás registrado? <a routerLink="/registro">¡Regístrate!</a></span>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
<div id="notificacionesUsuario">
  <div class="row">
    <div class="col text-center" id="mensaje">
    </div>
  </div>
</div>