.container-fluid .row {
    height: 90vh;
}
.container-fluid{
    margin-top: 60px;
}


#notificacionesUsuario{
    background-color: var(--tablas-cartas);
    color: var(--text);
    width: 50vw;
    height: 10vh;
    border: 3px solid var(--primario);
    border-radius: 10px;
    position: fixed;
    top: 100px;
    left: 25vw;
    opacity: 0;
    padding: 20px;
    text-align: center;
}

.mostrar{
    animation-duration: 2s;
    animation-name: notificar;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes notificar {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
  
    50%, 90% {
      opacity: 1;
      transform: translateY(0);
    }

    100%{
        opacity: 0;
        
    }
  }