body{
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(60, 182, 238);
    text-align: center;
    height: 5vh;
}
div.tabla{
    height: 90vh;
}
table{
    width: 100%;
    border-left: 0;
}
th{
    text-align: left;
}

footer{
    text-align: center;
    background-color: rgb(60, 182, 238);
    padding: 10px;
    font-size: larger;
    height: 5vh;
    font-weight: bold;
}