.categoria:hover{
  background-color: black !important;
  color: white !important;
}

#categorias {
  position: fixed;
  top: 280px;
  cursor: pointer;
  background: transparent !important;
  background-color: black !important;
  min-width: 200px;
  width: calc(100vw/5);
  max-width: fit-content;
  display: inline-block;
}
.categoria{
    transition: 1s;
};




