.categoria:hover{
  background-color: black !important;
  color: white !important;
}

#categorias {
  position: fixed;
  top: 280px;
  cursor: pointer;
  background: transparent !important;
  background-color: black !important;
}
.categoria{
    transition: 1s;
};




