<ol class="list-group d-none d-sm-block" id="categorias">
  <li class="list-group-item d-flex justify-content-between align-items-start" routerLink="/tienda/categoria/todos">
    <div class="ms-2 me-auto" id="todos">
      <div class="fw-bold" >Todos</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start " *ngFor="let categoria of Categorias" routerLink="/tienda/categoria/{{categoria.categoria}}/1">
    <div class="ms-2 me-auto">
      <div class="fw-bold {{categoria.categoria}} mw-100" >{{categoria.categoria}}</div>
    </div>
  </li>
</ol>
