nav {
    background-color: black;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-image: linear-gradient(#1c1c1b, #4f4f4d);
}

h4 {
    color: white;
}

table {
    background-color: #ffffff;
    border-radius: 2%;
}

thead>tr,
th#info {
    background-color: #b50716;
    color: white;
}

div.card,
select,
h4,
table {
    margin-top: 20px;
}

.card button {
    background-color: #b50716;
    color: white;
    font-weight: bold;
}

button.btn-sm {
    background-color: black;
    color: white;
}
.card-title{
    height: 40px;
}
  

.row {
    display: flex;
    /* equal height of the children */
}

.col {
    flex: 1;
    /* additionally, equal width */

    padding: 1em;
}

#MTGLogo {
    width: 150px;
}

.card,
.card-body {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

img.card-img-top {
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    transition: 0.5s all ease-in-out;
}

img.card-img-top:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.3);
}

.navbar button{
    margin: 4px;
}

#btnLogout, #btnLogin{
    background-color: #b50716;
    color: white;
    font-weight: bold;
}