.table{
    background-color: black;
    color: white;
}

#finalizarCompraContainer{
    margin-top: 130px;
    background-color: var(--otro);
    color: var(--text);
    padding: 30px;
}

td{
    width: 20px;
}
tr:nth-child(even){
    background-color: var(--secundario-impar);
}
.container{
    margin-top: 200px;
}


#vector-carrito{
    width: 300px;
}

.card{
    background-color: var(--primario);
    color: var(--text);
    text-align: center;
    padding: 40px;
}
.btn{
    color: var(--text);
}

.borrarProducto{
    background-color: var(--borrar) !important;
    color: var(--otro);
}

.borrarProducto:hover{
    background-color: var(--borrar-hover) !important;
}