<ng-container *ngIf="true">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Nombre Producto</th>
              <th>Imagen</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Precio total</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of carrito" routerLink="/tienda/mostrar-articulo/{{articulo.id}}">
              <td>{{ articulo.nombre }}</td>
              <td> <img src="{{articulo.imagen}}" class="card-img-top" alt="{{articulo.nombre}}" style="height: 100px; width: 100px;"></td>
              <td>{{ articulo.descripcion }}</td>
              <td>{{ articulo.precio }} €</td>
              <td>
                <button class="btn" (click)="restarUnidades(articulo);$event.preventDefault();$event.stopPropagation()">-</button>
                {{ articulo['cantidad'] }}
                <button class="btn" (click)="aumentarUnidades(articulo);$event.preventDefault();$event.stopPropagation()">+</button>
              </td>
              <td>{{ articulo['precioCantidad'] }} €</td>
              <td><button class="btn btn-danger" (click)="borrarArticulo(articulo)"><i class="fa fa-trash"></i></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <button class="btn btn-danger" (click)="borrarTodos()">Limpiar Carrito</button>
              </td>
              <td>
                <button class="btn btn-primary" routerLink="/tienda/categoria/todos/1">Seguir comprando</button>
              </td>
              <td></td>
              <td></td>
              <td>Total: </td>
              <td>{{granTotal}} €</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">Mi Carrito</h5>
      <div class="center">
        <img src="" alt="">
        <h4>¡Tu carrito está vacío!</h4>
        <h6>Añade algún producto.</h6>
        <button class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</ng-container>
