<ng-container *ngIf="carrito.length > 0 && finalizadaCompra == false">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Nombre Producto</th>
              <th>Imagen</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Precio total</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of carrito" routerLink="/tienda/mostrar-articulo/{{articulo.id}}">
              <td>{{ articulo.nombre }}</td>
              <td> <img src="{{articulo.imagen}}" class="card-img-top" alt="{{articulo.nombre}}"
                  style="height: 100px; width: 100px;"></td>
              <td>{{ articulo.descripcion }}</td>
              <td>{{ articulo.precio }} €</td>
              <td>
                <button class="btn"
                  (click)="restarUnidades(articulo);$event.preventDefault();$event.stopPropagation()">-</button>
                {{ articulo['cantidad'] }}
                <button class="btn"
                  (click)="aumentarUnidades(articulo);$event.preventDefault();$event.stopPropagation()">+</button>
              </td>
              <td>{{ articulo['precioCantidad'] }} €</td>
              <td><button class="btn btn-danger" (click)="borrarArticulo(articulo)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <button class="btn btn-danger" (click)="borrarTodos()">Limpiar Carrito</button>
              </td>
              <td>
                <button class="btn btn-primary" routerLink="/tienda/categoria/todos/1">Seguir comprando</button>
              </td>
              <td colspan="2">
                <button class="btn btn-secondary" (click)="finalizarCompra()"
                  *ngIf="usuario != 'invitado'; else pedirRegistro">
                  Finalizar compra
                </button>
                <ng-template #pedirRegistro>
                  Debes estar registrado para finalizar la compra
                </ng-template>
              </td>
              <td>Total: </td>
              <td>{{granTotal}} € + {{gastosEnvio}} de gastos de envío</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="finalizadaCompra == true" >
  <div class="container">
    <div id="htmlData">
      <div class="row justify-content-center">
        <div class="col m-4">
          <h3>Oniline-Store S.L.</h3>
        </div>
      </div>
      <div class="row justify-content-between" *ngIf="usuario != 'invitado'">
        <div class="col-4">
          <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
          <p>{{usuario.direccion}}, CP: {{usuario.codigo_postal}}</p>
          <p>+34 {{usuario.telefono_fijo}}</p>
          <p>{{usuario.pais}}</p>
          <p>{{usuario.email}}</p>
        </div>
        <div class="col-4">
          <p><span class="metadatos">Pedido Nº:</span> {{invoice}}</p>
          <p><span class="metadatos">Fecha Compra:</span> {{fechaCompra}}</p>
          <p>+34 922420690</p>
          <p>Calle Las Cabezas Nº23, Puerto de la Cruz, Tenerife</p>
          <p>Si tiene alguna duda sobre su pedido contacte con: customer-support@onilinestore.com</p>
        </div>
      </div>
      <div class="row">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>Cantidad</th>
              <th>Nombre Artículo</th>
              <th colspan="1">Precio (€)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of carrito">
              <td></td>
              <td>{{articulo['cantidad']}}</td>
              <td>{{articulo.nombre}}</td>
              <td colspan="1">{{articulo['precioCantidad']}} €</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td>Total productos: {{granTotal}} €</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td>Gastos de Envío: {{gastosEnvio}} €</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td>Nuevo total: {{gastosTotales}} €</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="carrito.length == 0 && finalizadaCompra == false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">Mi Carrito</h5>
      <div class="center">
        <img src="" alt="">
        <h4>¡Tu carrito está vacío!</h4>
        <h6>Añade algún producto.</h6>
        <button class="btn btn-primary" routerLink="/tienda/categoria/todos/1">¡Compra ahora!</button>
      </div>
    </div>
  </div>
</ng-container>
