#paginado{
     position: fixed;
    top: 200px;
    z-index: 4;
    min-width: 100px;
    width: calc(100vw/6);
}

select{
    color: white !important;
    background: black !important;
}

label{
    color: white !important;
}
