#paginado{
    position: fixed;
   top: 100px;
   z-index: 4;
   min-width: 100px;
   width: calc(100vw/6);
  }
  
  select{
   color: white !important;
   background: var(--primario) !important;
  }
  
  label{
   color: white !important;
  }