<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar" >
  <div class="container-fluid" >
    <a class="navbar-brand" routerLink="/">Oniline-Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tienda/categoria/todos/1">Tienda</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro">
            Signup
          </a>
        </li>
        <li class="nav-item" *ngIf="nombreUsuario == 'invitado'; else logout">
          <a class="nav-link" routerLink="/login">
            Login
          </a>
        </li>
        <ng-template #logout>
          <li class="nav-item">
            <a class="nav-link" (click)="finalizarSesion()" routerLink="/">
                Logout
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">
                {{nombreUsuario}}
                <i class="fa fa-user-circle-o" aria-hidden="true"
                  style="font-size: 24px; color: azure;"></i>
            </a>
          </li>
        </ng-template>
      </ul>
      <li class="nav-item">
      <button class="btn btn-dark" routerLink="carrito" style="margin-left: -20px;">
        <i class="fa fa-shopping-cart" style="font-size: 24px; color: azure;"></i>
        <div class="badge bg-danger">{{totalArticulos}}</div>
      </button>
      </li>
    </div>
  </div>
</nav>

<img src="assets/img/navbar.png" alt="ink-navbar" id="ink-navbar">


