img{
  height: 200px;
}

.btn{
  background-color: var(--primario);
  color: white;
}

.btn:hover{
  background-color: var(--botones-hover);
}


#bolt {
  opacity: 0;
  transform: translateY(30%);
  animation: dropIn 2s ease forwards;
  animation-delay: calc(var(--order) * 200ms);
  cursor: pointer;
  background-color: black;
  color: white;
}

@keyframes dropIn {
  
  30%, 100%{
    opacity: 1;
    transform: translateY(0);
  }
}
