<div class="row">
  <div class="col-xs-4 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center align-items-stretch"  *ngFor="let articulo of articulos; let iControl=index" >
    <div class="card mb-5" style="width: 16rem;" routerLink="/tienda/mostrar-articulo/{{articulo.id}}" id="bolt" style=" --order:{{iControl}}">
      <img src="{{articulo.imagen}}" class="card-img-top" alt="{{articulo.nombre}}" height="200px" >
      <div class="card-body">
        <h5 class="card-title" height="20px">{{articulo.nombre}}</h5>
        <span>Estado: {{articulo.estado}}</span>
        <p class="card-text text-muted">{{articulo.precio}} €</p>

        <button class="btn btn-primary" (click)="agregarAlCarrito(articulo);$event.preventDefault();$event.stopPropagation()" *ngIf="articulo.estado == 'Disponible'; else notAvailable">Añadir al carrito <i class="fa fa-cart-plus" style="font-size: 24px;"></i> </button>
        <ng-template #notAvailable>
          <button class="btn btn-secondary" disabled>Sin stock</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div id="container-notificaciones">
  <div id="notificacionAgregado">
    (1) producto añadido
  </div>
</div>

