#notificacionAgregado {
  position: fixed;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 7px 15px;
  border-width: 0px 0px 0px 10px;
  background-color: rgb(206, 255, 255);
}

.mostrar {
  animation-duration: 3s;
  animation-name: subir;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes subir {
  0% {
    opacity: 0;
    bottom: -10vh;
    left: 3vw;
  }

  25% {
    opacity: 1;
    bottom: 3vh;
    left: 3vw;
  }

  100% {
    opacity: 0;
  }
}

#bolt {
  opacity: 0;
  transform: translateY(30%);
  animation: dropIn 2s ease forwards;
  animation-delay: calc(var(--order) * 200ms);
  
}

@keyframes dropIn {
  
  30%, 100%{
    opacity: 1;
    transform: translateY(0);
  }
}
