<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" *ngIf="Articulo">
        <div class="card-header">
          {{Articulo.categoria}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                  <img src="{{Articulo.imagen}}" class="card-img-top img-fluid" alt="{{Articulo.nombre}}">
                </div>
                <div class="col">
                  <h5 class="card-title">{{Articulo.nombre}}</h5>
                  <p class="text-muted">{{Articulo.precio}} €</p>
                  <p class="text-muted">{{Articulo.estado}}</p>
                  <p class="card-text">{{Articulo.descripcion}}</p>
                  <button class="btn btn-primary" (click)="agregarAlCarrito(Articulo)" *ngIf="Articulo.estado == 'Disponible'; else notAvailable">Añadir al carrito <i class="fa fa-cart-plus" style="font-size: 24px;"></i> </button>
                  <ng-template #notAvailable>
                    <button class="btn btn-secondary" disabled>Sin stock</button>
                  </ng-template>
                </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
  <div id="container-notificaciones">
    <div id="notificacionAgregado">
      (1) producto añadido
    </div>
  </div>
  
</div>