/* You can add global styles to this file, and also import other style files */
:root{
  --primario: rgb(56, 114, 238);
  --text: black;
  --secundario: rgb(186, 208, 247);
  --otro: rgb(199, 217, 247);
  --secundario-impar:  rgb(163, 191, 240);
  --botones-hover: rgb(57, 54, 247);
  --box-shadow: 2px 2px 2px 1px rgba(57, 54, 247, 0.2);
}

body {
  background-image: url("assets/img/Shiny.svg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#notificacionAgregado {
  position: fixed;
  opacity: 0;
  width: 300px;
  border: 3px solid var(--primario);
  padding: 7px 15px;
  border-width: 0px 0px 0px 10px;
  background-color: var(--secundario);
  color: var(--text);
  bottom: 3vh;
  left: 3vw;
}

.mostrar {
  animation-duration: 3s;
  animation-name: subir;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes subir {
  0% {
    opacity: 0;
    bottom: -10vh;
    left: 3vw;
  }

  25% {
    opacity: 1;
    bottom: 3vh;
    left: 3vw;
  }

  100% {
    opacity: 0;
  }
}

.card, input, input:focus, table{
  background-color: var(--secundario) !important;
  color: var(--text) !important;
  border-radius: 10px !important;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.container, .container-fluid{
  margin-top: 160px;
}

.btn{
  background-color: var(--primario) !important;
}

.btn:hover{
  background-color: var(--botones-hover) !important;
}

.text-truncate{
  max-width: 100%;
  display: inline-block;
}

.categoria:hover{
  background-color: var(--botones-hover) !important;
  color: white !important;
}

#categorias {
  top: 280px;
  cursor: pointer;
  background: transparent !important;
  /*background-color: black !important;*/
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  box-shadow: var(--box-shadow);
}
.categoria{
    transition: 1s;
};

#notificacionesUsuario{
  background-color: var(--secundario);
  color: var(--text);
  width: 50vw;
  height: 10vh;
  border: 3px solid var(--primario);
  border-radius: 10px;
  position: fixed;
  top: 100px;
  left: 25vw;
  opacity: 0;
  padding: 20px;
  text-align: center;
}

.mostrar{
  animation-duration: 2s;
  animation-name: notificar;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes notificar {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  50%, 90% {
    opacity: 1;
    transform: translateY(0);
  }

  100%{
      opacity: 0;
      
  }
}
