/* You can add global styles to this file, and also import other style files */
:root{
  --primario: rgba(239, 12, 127, 1);
  --text: white;
  --tablas-cartas: black;
  --botones-hover: rgb(197, 1, 99);
  --radial: linear-gradient(to right, red, orange);

}

body {
  background-image: url("assets/img/Luminary.svg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}

.card, input, input:focus, table{
  background-color: var(--tablas-cartas) !important;
  color: var(--text) !important;
  border-radius: 10px !important;
  padding: 10px;
}

.container, .container-fluid{
  margin-top: 160px;
}

.btn{
  background-color: var(--primario) !important;
}

.btn:hover{
  background-color: var(--botones-hover) !important;
}

.text-truncate{
  max-width: 100%;
}
